<html lang='en'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link href='./show-email_files/css2' rel='stylesheet' />
  </head>
  <body style='font-family: Roboto, Sans-serif;margin: 0;padding: 0;'>
    <div style='margin: 0 auto;background-color: #15111c;max-width: 600px;width: 100%;border: 1px solid #eeeeee;'>
      <div style=' text-align: center;padding: 20px; background-color: #000000;'>
        <img src='cid:logo' style='height: 40px' />
      </div>
      <div style='padding: 30px 0px 40px 0px'>
        <div style='text-align: center;'>
          <img src='cid:lady' style=' height: 220px ;width: auto;' />
        </div>
        <div>
          <p style=' margin: 10px 30px;color: #ffffff;font-size: 16px;line-height: 25px;'>Hi {{Name}},</p>
          <p style=' margin: 10px 30px;color: #ffffff;font-size: 16px;line-height: 25px;'>Congratulations..! 🎉 Your
            payment for the plan upgrade on Monet Live was successful. Your plan is now upgraded to
            {{Plan}}. Here is the receipt for your payment.</p>
        </div>
        <div style='min-width: 100%; display: flex;margin-top: 30px'>
          <div style='margin: auto;'>
            <a
              style='text-decoration: none;padding: 0.5rem 0.7rem;background: linear-gradient(to right, hsl(308, 54%, 47%) , hsl(213, 69%, 47%));border-radius: 5px;color: #fff;'
              href='{{Link}}'
            ><b>View Receipt</b></a>
          </div>
        </div>
        <p style='margin: 30px 30px;color: #ffffff;font-size: 16px;line-height: 25px; text-decoration: none;'>For any
          questions or comments, please contact:
          <a
            style='color:white; text-decoration: none; font-weight: bold;'
            href='mailto:admin@monetlive.com'
            target='_blank'
          >admin@monetlive.com</a>
        </p>
        <p style=' margin: 10px 30px;color: #ffffff;font-size: 16px;line-height: 25px;'>Thank you!</p>
        <p style=' margin: 10px 30px;color: #ffffff;font-size: 16px;line-height: 25px;'>The Monet Team</p>
      </div>
      <div style='text-align: center; padding: 20px;background-color: #000000;' class='footer'>
        <a href='https://www.facebook.com/monetnetworks/'><img
            src='cid:facebook'
            style='height: 20px;width: auto; margin: 0px 5px;'
          /></a>
        <a href='https://www.instagram.com/monetnetworks/?hl=en'><img
            src='cid:insta'
            style='height: 20px;width: auto; margin: 0px 5px;'
          /></a>
        <a href='https://in.linkedin.com/company/monet-networks'><img
            src='cid:link'
            style='height: 20px;width: auto; margin: 0px 5px;'
          /></a>
        <a href='https://twitter.com/monetnetworks?lang=en'><img
            src='cid:tw'
            style='height: 20px;width: auto; margin: 0px 5px;'
          /></a>
      </div>
    </div>
  </body>
</html>