<html lang='en'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
  </head>
  <body style='font-family: Roboto, Sans-serif;margin: 0;padding: 0;'>
    <div style='background: linear-gradient(45deg,#CB1662, #8616CB); padding: 5px; max-width: 600px;margin: auto;'>
      <div style='background-color: #000000;max-width: 600px;width: 100%;'>
        <div style=' text-align: center;padding: 20px;'>
          <img src='cid:logo' style='height: 40px' />
        </div>
        <div style='padding: 30px 0'>
          <div style='text-align: center;'>
            <img src='cid:lady' style='width: 75%;' />
          </div>
          <div>
            <p style='margin: 30px 30px;color: #ffffff;font-size: 16px;line-height: 25px;'>Welcome {{Name}},</p>
            <p style='margin: 10px 30px;color: #ffffff;font-size: 16px;line-height: 25px;'>Thanks for signing up for a
              14-day trial of the Monet Live platform. We're looking forward to helping you improve your content to grab
              more engagement.</p>
            <p style='margin: 10px 30px;color: #ffffff;font-size: 16px;line-height: 25px;'>Don't hesitate to get in
              touch if you have any questions; we'll always get back to you.</p>
            <p style='margin: 10px 30px;color: #ffffff;font-size: 16px;line-height: 25px;'>In the meantime, if you'd
              like to learn more about how Monet Live platform helps to you enhance your content engagement, click the
              button below.
            </p>
          </div>
          <div style='min-width: 100%; display: flex;margin-top: 30px'>
            <div style='margin: auto;'>
              <a
                style='text-decoration: none;padding: 0.6rem 0.8rem;background: #fff;border-radius: 3px;color: #000; font-weight: bold;'
                href='https://www.monetanalytics.com/monet-live/'
              >Read Article</a>
            </div>
          </div>
          <p style='margin: 30px 30px;color: #ffffff;font-size: 16px;line-height: 25px; text-decoration: none;'>For any
            questions or comments, please contact:
            <a
              style='color:white; text-decoration: none; font-weight: bold;'
              href='mailto:admin@monetlive.com'
              target='_blank'
            >admin@monetlive.com</a>
          </p>
          <p style=' margin: 8px 30px;color: #ffffff;font-size: 16px;line-height: 25px;'>Thank you!</p>
          <p style=' margin: 8px 30px;color: #ffffff;font-size: 16px;line-height: 25px;'>The Monet Team</p>
          <p style=' margin: 8px 30px;color: #ffffff;font-size: 16px;line-height: 25px;'><a
              href='https://www.monetlive.com'
              style='text-decoration: none;color: #ffffff;'
              target='_blank'
            >www.monetlive.com</a></p>
        </div>
        <div style='text-align: center; padding: 20px;background-color: #000000;'>
          <a href='https://www.facebook.com/monetnetworks/'><img
              src='cid:facebook'
              style='height: 20px;width: auto; margin: 0px 5px;'
            /></a>
          <a href='https://www.instagram.com/monetnetworks/?hl=en'><img
              src='cid:insta'
              style='height: 20px;width: auto; margin: 0px 5px;'
            /></a>
          <a href='https://in.linkedin.com/company/monet-networks'><img
              src='cid:link'
              style='height: 20px;width: auto; margin: 0px 5px;'
            /></a>
          <a href='https://twitter.com/monetnetworks?lang=en'><img
              src='cid:tw'
              style='height: 20px;width: auto; margin: 0px 5px;'
            /></a>
        </div>
      </div>
    </div>
  </body>
</html>